<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/">Menu de Inicio</a> | 
			<a href="/users/add">Añadir nuevo usuario</a> | 
			<a href="/users">lista de los usuarios creados</a>
		</div>	
		<h1><%= title %></h1>
